.tmp_header_title {
    width: 100%;
    text-align: center;
}


.header {
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
}


.header_media {
    padding: 5px 5px 3px;
}

/* TODO: varでmedia長を動的に変更する
 :rootが書かれたmoduleを `import "module.css相対パス";`しても media解析の方が早く? varでは動作しなかったので代案を考えたい
 */
@media (min-width: 440px) {
    .header_media {
        padding: 5px 20px 3px;
    }
}