.footer {
    margin-top: 1rem;
    background-color: whitesmoke;
    border-top: 4px black;
}

.footer_media {
    padding: 1rem 5px 4rem;
}

/* TODO: varでmedia長を動的に変更する
 :rootが書かれたmoduleを `import "module.css相対パス";`しても media解析の方が早く? varでは動作しなかったので代案を考えたい
 */
@media (min-width: 440px) {
    .footer_media {
        padding: 1rem 20px 4rem;
    }
}